################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductCatalogMVC/.vs/ProductCatalogMVC/v15
/.vs/product-catalog-quiz-5ahif-wallnera/v15
/.vs
/ProductCatalogMVC/.vs/config/applicationhost.config
/ProductCatalogMVC/ProductCatalogMVC/obj
