@model ProductCatalogMVC.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body style="margin: 5px">

        <h4>Product</h4>
        <hr />
            <div style="margin-left: 20px">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Name of the Product: </label>
                                @Html.TextBoxFor(model => model.Name)
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Description: </label>
                                @Html.TextBoxFor(model => model.Description)
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PricePerUnit" class="control-label">Price per Unit: </label>
                                @Html.TextBoxFor(model => model.PricePerUnit)
                                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <div>
            @Html.ActionLink("Return to StartPage", "Index", new { @class = "btn btn-secondary", role = "button" })
        </div>
    </body>
</html>
